@media (max-width:1100px) {
    header {
        padding: 32px 50px 40px;
    }

    section {
        padding-inline: 50px;
    }

    .card_wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .display1100 {
        display: none;
    }

    footer {
        padding-block: 40px;
    }
}