@media (max-width:380px){
    header{
        padding: 8px 8px 40px;
    }
    section{
        padding-inline: 8px;
    }
    .article-image{
        height: 240px;
    }
footer{
    padding-top: 40px;
    padding-bottom: 8px;
}
}