:root {
    --primary-color1: #0D0C22;
    --primary-color2: #EA4C89;
    --secondary-color1: #3D3D4E;
    --secondary-color2: #FFFFFF;
    --secondary-color3: #FAEBF9;
    --border-radius1: 8px;
    --border-radius2: 16px;
    --border-radius3: 30px;
}

body {
    font-family: "Inter", sans-serif;
    width: min(100%, 1440px);
    margin: auto;
}

/* header */
header {
    display: flex;
    padding: 70px;
    align-items: center;
    justify-content: space-between;
}

.btn1 {
    width: 101px;
    height: 40px;
    border-radius: var(--border-radius1);
    border-width: 1px;
    border-color: var(--secondary-color1);
    background-color: var(--secondary-color3);
    color: var(--primary-color1);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.arr {
    margin-left: 6px;
}

.btn2 {
    width: 103px;
    height: 40px;
    border-radius: var(--border-radius2);
    border-width: 1px;
    border-color: var(--secondary-color1);
    background-color: var(--secondary-color3);
    color: var(--primary-color1);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}

.menu {
    margin-right: 16px;
}

/* section */
section {
    padding-inline: 70px;
}

.card_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 20px;
}

.article-image {
    width: 100%;
    height: 312px;
    object-fit: cover;
}

.article_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.span1 {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--primary-color1);
}

.pic {
    margin-right: 8px;
}

span {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--secondary-color1);
}

.views {
    margin-left: 10px;
}

/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 70px;
}

.footer {
    border: none;
    border-radius: var(--border-radius3);
    background-color: var(--primary-color2);
    color: var(--secondary-color2);
    width: 179px;
    height: 40px;
    font-family: Arial;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

}