@media (max-width:620px){
    header{
        padding: 20px 20px 40px;
    }
    section{
        padding-inline: 20px;
    }
    .card_wrapper{
        grid-template-columns: 1fr;
    }
    .display620{
        display: none;
    }
   footer{
    padding-top: 40px;
    padding-bottom: 20px;
   }
}